{% load staticfiles %}

<script type="text/javascript" src="{% static 'blog/js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/panel.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/myjs.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/prettify.js' %}"></script>
<script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?language=py"></script>
