{% load staticfiles %}

<link type="text/css" rel="stylesheet" media="screen" href="{% static 'blog/css/materialize.css' %}" />
<link type="text/css" rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" media="screen" href="{% static 'blog/css/style.css' %}" />
<link type="text/css" rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Gloria+Hallelujah" />
<link type="text/css" rel="stylesheet" media="screen" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

